<div class="home-div">
    <div class="img-div"></div>
    <h5>We are an initiative that is looking to help Seattle residents recycle all types of products in order to help protect one of Washington’s greatest treasures, our environment.</h5>
</div>