<h1 class="results">Results:</h1>


    <h5>1. 3RTechnology</h5>
      <div class="results">
          <a class="result-link" href="/recycle-site">
            <p>More info</p>
          </a>
    </div>

    <h5>2. Friendly Earth</h5>
      <div class="results">
          <a class="result-link" href="/recycle-site">
            <p>More info</p>
          </a>
    </div>

    <h5>3. Pacific Iron & Metal</h5>
      <div class="results">
          <a class="result-link" href="/recycle-site">
            <p>More info</p>
          </a>
    </div>

    <h5> 4. RE-PC Recycled Computers and Peripherals</h5>
      <div class="results">
          <a class="result-link" href="/recycle-site">
            <p>More info</p>
          </a>
    </div>
