<div class="top-row row">
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="img/plastic.jpg">
            </div>
            <div class="card-content">
                <p>Plastic</p>
            </div>
            <div class="card-action">
                <a class="waves-effect waves-light modal-trigger" href="#modal1">Action</a>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="img/paper.jpg">
            </div>
            <div class="card-content">
                <p>Paper</p>
            </div>
            <div class="card-action">
                <a class="waves-effect waves-light modal-trigger" href="#modal2">Action</a>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="img/glass.jpg">
            </div>
            <div class="card-content">
                <p>Glass</p>
            </div>
            <div class="card-action">
                <a class="waves-effect waves-light modal-trigger" href="#modal3">Action</a>
            </div>
        </div>
        </div>

    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="img/metal.jpg">
            </div>
            <div class="card-content">
                <p>Metals</p>
            </div>
            <div class="card-action">
                <a class="waves-effect waves-light modal-trigger" href="#modal4">Action</a>
            </div>
        </div>
    </div>
        
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img src="img/food.jpg">
                </div>
                <div class="card-content">
                    <p>Organic</p>
                </div>
                <div class="card-action">
                    <a class="waves-effect waves-light modal-trigger" href="#modal5">Action</a>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img src="img/chemicals.jpg">
                </div>
                <div class="card-content">
                    <p>Chemical</p>
                </div>
                <div class="card-action">
                    <a class="waves-effect waves-light modal-trigger" href="#modal6">Action</a>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img src="img/electronics.png">
                </div>
                <div class="card-content">
                    <p>Electronics</p>
                </div>
                <div class="card-action">
                    <a class="waves-effect waves-light modal-trigger" href="#modal7">Action</a>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img src="img/appliances.jpg">
                </div>
                <div class="card-content">
                    <p>Appliances</p>
                </div>
                <div class="card-action">
                    <a class="waves-effect waves-light modal-trigger" href="#modal8">Action</a>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img src="img/building.jpg">
                </div>
                <div class="card-content">
                    <p>Building Materials</p>
                </div>
                <div class="card-action">
                    <a class="waves-effect waves-light modal-trigger" href="#modal9">Action</a>
                </div>
            </div>
        </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <div class="row">
            <div class="col s12 m7 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="https://materializecss.com/images/sample-1.jpg">
                    </div>
                    <div class="card-content">
                        <p>Grocery</p>
                    </div>
                    <div class="card-action">
                        <a href="/address">Action</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m7 l4">
                    <div class="card">
                        <div class="card-image">
                            <img src="https://materializecss.com/images/sample-1.jpg">
                        </div>
                        <div class="card-content">
                            <p>Agricultural</p>
                        </div>
                        <div class="card-action">
                            <a href="/address">Action</a>
                        </div>
                    </div>
                </div>
            <div class="col s12 m7 l4">
                    <div class="card">
                        <div class="card-image">
                            <img src="https://materializecss.com/images/sample-1.jpg">
                        </div>
                        <div class="card-content">
                            <p>Office</p>
                        </div>
                        <div class="card-action">
                            <a href="/address">Action</a>
                        </div>
                    </div>
                </div>
            <div class="col s12 m7 l4">
                    <div class="card">
                        <div class="card-image">
                            <img src="https://materializecss.com/images/sample-1.jpg">
                        </div>
                        <div class="card-content">
                            <p>Office</p>
                        </div>
                        <div class="card-action">
                            <a href="/address">Mixed</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

<div id="modal2" class="modal">
    <div class="modal-content">
        <div class="row">
                <div class="col s12 m7 l4">
                    <div class="card">
                        <div class="card-image">
                            <img src="https://materializecss.com/images/sample-1.jpg">
                        </div>
                        <div class="card-content">
                            <p>ITEM</p>
                        </div>
                        <div class="card-action">
                            <a href="/address">Action</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div id="modal3" class="modal">
        <div class="modal-content">
            <div class="row">
                    <div class="col s12 m7 l4">
                        <div class="card">
                            <div class="card-image">
                                <img src="https://materializecss.com/images/sample-1.jpg">
                            </div>
                            <div class="card-content">
                                <p>ITEM</p>
                            </div>
                            <div class="card-action">
                                <a href="#">Action</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<div id="modal4" class="modal">
        <div class="modal-content">
            <div class="row">
                    <div class="col s12 m7 l4">
                        <div class="card">
                            <div class="card-image">
                                <img src="https://materializecss.com/images/sample-1.jpg">
                            </div>
                            <div class="card-content">
                                <p>ITEM</p>
                            </div>
                            <div class="card-action">
                                <a href="#">Action</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<div id="modal5" class="modal">
        <div class="modal-content">
            <div class="row">
                    <div class="col s12 m7 l4">
                        <div class="card">
                            <div class="card-image">
                                <img src="https://materializecss.com/images/sample-1.jpg">
                            </div>
                            <div class="card-content">
                                <p>ITEM</p>
                            </div>
                            <div class="card-action">
                                <a href="/address">Action</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<div id="modal6" class="modal">
        <div class="modal-content">
            <div class="row">
                    <div class="col s12 m7 l4">
                        <div class="card">
                            <div class="card-image">
                                <img src="https://materializecss.com/images/sample-1.jpg">
                            </div>
                            <div class="card-content">
                                <p>ITEM</p>
                            </div>
                            <div class="card-action">
                                <a href="/address">Action</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   

<div id="modal7" class="modal">
        <div class="modal-content">
            <div class="row">
                    <div class="col s12 m7 l4">
                        <div class="card">
                            <div class="card-image">
                                <img src="img/printer.png">
                            </div>
                            <div class="card-content">
                                <p>Printer, Copier, or Fax</p>
                            </div>
                            <div class="card-action">
                                <a href="/address">Action</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m7 l4">
                            <div class="card">
                                <div class="card-image">
                                    <img src="img/tv.png">
                                </div>
                                <div class="card-content">
                                    <p>TV</p>
                                </div>
                                <div class="card-action">
                                    <a href="/address">Action</a>
                                </div>
                            </div>
                        </div>
                    <div class="col s12 m7 l4">
                            <div class="card">
                                <div class="card-image">
                                    <img src="img/tablet3.png">
                                </div>
                                <div class="card-content">
                                    <p>Computer Tablets</p>
                                </div>
                                <div class="card-action">
                                    <a href="/address">Action</a>
                                </div>
                            </div>
                        </div>
                    <div class="col s12 m7 l4">
                            <div class="card">
                                <div class="card-image">
                                    <img src="img/phone.png">
                                </div>
                                <div class="card-content">
                                    <p>Phones (All)</p>
                                </div>
                                <div class="card-action">
                                    <a href="/address">Action</a>
                                </div>
                            </div>
                        </div>
                    <div class="col s12 m7 l4">
                            <div class="card">
                                <div class="card-image">
                                    <img src="img/AVequip.png">
                                </div>
                                <div class="card-content">
                                    <p>AV equipment</p>
                                </div>
                                <div class="card-action">
                                    <a href="/address">Action</a>
                                </div>
                            </div>
                        </div>
                    <div class="col s12 m7 l4">
                            <div class="card">
                                <div class="card-image">
                                    <img src="img/monitors.jpg">
                                </div>
                                <div class="card-content">
                                    <p>Monitors</p>
                                </div>
                                <div class="card-action">
                                    <a href="/address">Action</a>
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div> 

<div id="modal8" class="modal">
        <div class="modal-content">
            <div class="row">
                    <div class="col s12 m7 l4">
                        <div class="card">
                            <div class="card-image">
                                <img src="https://materializecss.com/images/sample-1.jpg">
                            </div>
                            <div class="card-content">
                                <p>ITEM</p>
                            </div>
                            <div class="card-action">
                                <a href="/address">Action</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

<div id="modal9" class="modal">
        <div class="modal-content">
            <div class="row">
                    <div class="col s12 m7 l4">
                        <div class="card">
                            <div class="card-image">
                                <img src="https://materializecss.com/images/sample-1.jpg">
                            </div>
                            <div class="card-content">
                                <p>ITEM</p>
                            </div>
                            <div class="card-action">
                                <a href="/address">Action</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 