<h1>Appliances</h1>
<ol>
  <li>fridge/freezer</li>
  <li>microwave</li>
  <li>AC/heat pump</li>
  <li>small home</li>
  <li>thermostats</li>
</ol>

<h1>Building Materials</h1>
<ol>
  <li>plaster</li>
  <li>asphalt</li>
  <li>woody</li>
  <li>concrete</li>
  <li>drywall</li>
  <li>paint</li>
  <li>carpet</li>
  <li>rock</li>
  <li>fiberglass</li>
  <li>brick</li>
  <li>reusable</li>
  <li>pallets</li>
</ol>

<h1>Chemicals</h1>
<ol>
  <li>cleaning</li>
  <li>pesticides</li>
  <li>motoroil</li>
  <li>batteries</li>
  <li>car batteries</li>
  <li>recharable</li>
  <li>alkaline</li>
</ol>

<h1>Electronics</h1>
<ol>
  <li>printer, copier, fax</li>
  <li>computer tables</li>
  <li>phones (all)</li>
  <li>AV equipment</li>
  <li>monitors</li>
  <li>TV</li>
</ol>

<h1>Food/Yard</h1>
<ol>
  <li>scraps</li>
  <li>oil, grease</li>
  <li>brush</li>
  <li>woody waste</li>
  <li>yard waste</li>
  <li>soil</li>
</ol>

<h1>Glass</h1>
<ol>
  <li>seperated</li>
  <li>window</li>
  <li>mixed</li>
  <li>eyeglass</li>
  <li>porcelain</li>
</ol>

<h1>Metals</h1>
<ol>
  <li>cans</li>
  <li>ferrous/nonferrous</li>
  <li>pulltabs</li>
  <li>barrels, drums</li>
</ol>

<h1>Paper</h1>
<ol>
  <li>cardboard</li>
  <li>mixed</li>
  <li>newspaper</li>
  <li>office</li>
  <li>phonebook</li>
  <li>shreadded</li>
  <li>confidential</li>
  <li>books</li>
</ol>

<h1>Plastic</h1>
<ol>
  <li>grocery</li>
  <li>agricultural</li>
  <li>office</li>
  <li>mixed</li>
  <li>bottles, jugs, tubs</li>
</ol>
